<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.uva.tfg.hector.SkyWalkerApp">

    <uses-feature android:name="com.android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:screenOrientation="sensorLandscape"
        android:supportsRtl="true">
        <activity
            android:name=".presentation.EntryActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.AugmentedRealityActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen" />

        <activity
            android:name=".presentation.FilterActivity"
            android:label="@string/filter_title"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />

        <activity
            android:name=".presentation.NewConnectionActivity"
            android:label="@string/connection_title"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge" />

        <activity
            android:name=".presentation.EntryLoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7a424b2d0d701043f224a61ff33c07c21f3a4407" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

    </application>

</manifest>